#fondo{
  background-image: url("alpiste.jpg");
}

.Biografia{
  color: blue;
  padding: 10px;
  border: solid;
  border-color: Navy;
  float: right;
  width: 80%;
  padding: 15px;
}

 #Perfil{
   background-position: right top;
   width: 200px;
 }

 #instagram{
   background-position: center;
   width: 20px;
   margin-left: 300px;
 }

#correo{
  background-position: center;
  width: 20px;
  margin-right: : 600px;
}

#linked{
  background-position: center;
  width: 20px;
  margin-right: : 600px;
}


.header {
  background-color: #F1F1F1;
  text-align: left;
  padding: 20px;
}

#column1{
  float: left;
  width: 60%;
  padding: 15px;
}

#Nombre{
  color: Navy;
  text-align: center;
  background-color: pink;
  background-position: right;
}
h2{
  color: Navy;
  background-color: pink;
}


.Cualidades{
  line-height : 25px;
  padding: 10px;
  border: solid;
  border-color: Navy;
  background-color: #FFFFE0 ;


}

.Idiomas{
  padding: 10px;
  border: solid;
  border-color: Navy;
  background-color: #FFFFE0 ;
}

.barra{
  background-position: right;
  width: 100px;
}

.Educación{
  padding: 10px;
  border: solid;
  border-color: Navy;
  background-color: #FFFFE0 ;

}
.Lugar{
  font-size: 12px;
}

.Experiencia{
  padding: 20px;
  border: solid;
  border-color: Navy;

}

.Fechas{
  font-size: 15px;
  text-align: left;
  border: 1px solid pink;
  background-color: lightblue;

}

.Empresa{
  font-size: 20px;
  text-align: left;
  border: 1px solid pink;
  background-color: lightblue;
}

.Profesion{
  font-size: 20px;
  text-align: left;
  float: center;
  border: 1px solid pink;
  background-color: lightblue;
  margin-right: 200px;

}

#CualidadesOT{
  font-size: 15px;
  border: 1px solid pink;
  background-color: #FFFFE0 ;
  padding: 25px;
  line-height : 25px;

}

#CualidadesTCMS{
  font-size: 15px;
  border: 1px solid pink;
  background-color: #FFFFE0 ;
  padding: 25px;
  line-height : 25px;

}

.Intereses{
  padding: 10px;
  border: solid;
  border-color: Navy;
  line-height : 25px;
  background-color: #FFFFE0 ;
}
