body{
  background-color: white;
}

#manipulada{
  margin-left: 450px;
}
#original{
  margin-left: 230px;
}
button{
  color: pink;
}

#botones{
  margin-left: 400px;
}
#deslizadores{
  margin-left : 500px;
}
